# test
spec
src/*.spec.ts
tsconfig.spec.json
.nycrc.json
.nyc_output/
jest.setup.js
jest.config.js
coverage/

# build
rollup.config.js
tsconfig.json
jsconfig.json
listener/tsconfig.lib.json
listener/tsconfig.json
platform-server/tsconfig.lib.json
platform-server/tsconfig.json

# dev
.theia
.vscode
.idea
.DS_Store
.env

# lint
tslint.json
.eslintignore
.eslintrc.js
eslint.config.js
eslint.config.mjs

# gitpod
.gitpod.yml

# github
.github